[mysqld]
skip-host-cache
#skip-name-resolve
# for MySQL 5.x
#default_authentication_plugin=mysql_native_password
character-set-server=utf8mb4
collation_server=utf8mb4_bin

[client]
default-character-set=utf8mb4
